In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Duplicate value
# -Mutable

In [2]:
# a = {<key>:<value>,<key>:<value>,....}

In [3]:
a = {"a":"Apple","b":"Ball"}
print(type(a))

<class 'dict'>

In [4]:
a = {}
print(type(a))

<class 'dict'>

In [6]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
print(a["a"])

Apple

In [7]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
print(a["a":"b"])

TypeError: unhashable type: 'slice'

In [10]:
a = {"B":"Apple","A":"Ball","c":"Cat"}
a

{'B': 'Apple', 'A': 'Ball', 'c': 'Cat'}

In [11]:
a = {"B":"Apple","A":"Ball","c":"Cat"}
a = {"B":"Apple","b":"Ball","c":"Cat"}
a

{'B': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a = {"B":"Apple","B":"Ball","c":"Cat"}
a

{'B': 'Ball', 'c': 'Cat'}

In [16]:
# a = dict()
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [17]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Entre name = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    d[key] = value
    
print(d)

Enter n = 2
Entre name = Ram
Enter phone = 9867666765
Entre name = Shyam
Enter phone = 9056556543
{'Ram': 9867666765, 'Shyam': 9056556543}

In [19]:
b = [('Ram',9856556543),('Shyam',9856554543)]
a = dict(a)
a

{'Ram': 9856556543, 'Shyam': 9856554543}

In [20]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
list(a)

['Ram', 'Shyam']

In [21]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
tuple(a)

('Ram', 'Shyam')

In [22]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
for i in a:
    print(i)

Ram
Shyam

In [23]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
for i in a.values():
    print(i)

9856556543
9856554543

In [24]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
for i in a.items():
    print(i)

('Ram', 9856556543)
('Shyam', 9856554543)

In [25]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
b = {'Hari':9856554543}
print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [27]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
b = {'Hari':9856554543}
a.update(b)
a

{'Ram': 9856556543, 'Shyam': 9856554543, 'Hari': 9856554543}

In [28]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
del a['Ram']
a

{'Shyam': 9856554543}

In [29]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
a.remove('Ram')
a

AttributeError: 'dict' object has no attribute 'remove'

In [31]:
a = {'Ram': 9856556543, 'Shyam': 9856554543}
a.pop('Ram')
a

{'Shyam': 9856554543}

In [34]:
a = {('Ram','Hari'): 9856556543, 'Shyam': 9856554543}
a

{('Ram', 'Hari'): 9856556543, 'Shyam': 9856554543}

In [36]:
a[('Ram', 'Hari')]

9856556543

In [ ]:
# list inside dict
a = {'Ram': [9856556543,980844543], 'Shyam': [9856554543,9808556543]}

# dic inside list
a = [{'Ram': 9856556543}, 
     {'Shyam': 9856554543}]

# tuple inside dict
a = {'Ram': (9856556543,980844543), 'Shyam': (9856554543,9808556543)}

# dic inside tuple
a = ({'Ram': 9856556543}, 
     {'Shyam': 9856554543})

# dict inside dict
a = {'Ram': {"NTC":9856556543,"NCELL":980844543},
     'Shyam': {"NTC":9856554543,"NCELL":9808556543}

In [38]:
# list inside dict
# a = {'Ram': [9856556543,980844543], 'Shyam': [9856554543,9808556543]}
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no ="))
    key = name
    value = [ntc,ncell]
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9845445678
Enter ncell no =9808556543
Enter name = Shyam
Enter ntc no = 9856554543
Enter ncell no =9808556543
{'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}

In [2]:
a = {'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}
print(a['Ram'])

[9845445678, 9808556543]

In [3]:
a = {'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}
a['Ram'] = [9845445677, 9808556544]
a

{'Ram': [9845445677, 9808556544], 'Shyam': [9856554543, 9808556543]}

In [4]:
a = {'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}
a['Ram'][0] = 9845445677
a

{'Ram': [9845445677, 9808556543], 'Shyam': [9856554543, 9808556543]}

In [5]:
a = {'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}
del a['Ram'][0]
a

{'Ram': [9808556543], 'Shyam': [9856554543, 9808556543]}

In [8]:
a = {'Ram': [9845445678, 9808556543], 'Shyam': [9856554543, 9808556543]}
a['Ram'].append(4456554)
a

{'Ram': [9845445678, 9808556543, 4456554], 'Shyam': [9856554543, 9808556543]}

In [10]:
# dic inside list
a = [{'Ram': 9856556543}, {'Shyam': 9856554543}]
a[1]

{'Shyam': 9856554543}

In [11]:
a = [{'Ram': 9856556543}, {'Shyam': 9856554543}]
for i in a:
    print(i)

{'Ram': 9856556543}
{'Shyam': 9856554543}

In [12]:
# dict inside list
# a = [{'Ram': 9856556543}, {'Shyam': 9856554543}]
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no ="))
    d = {'Name':name,'Ntc':ntc,'Ncell':ncell}
    l.append(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9867665654
Enter ncell no =9808556543
Enter name = Shyam
Enter ntc no = 9876556543
Enter ncell no =9808556543
{'Name': 'Shyam', 'Ntc': 9876556543, 'Ncell': 9808556543}

In [13]:
print(l)

[{'Name': 'Ram', 'Ntc': 9867665654, 'Ncell': 9808556543}, {'Name': 'Shyam', 'Ntc': 9876556543, 'Ncell': 9808556543}]

In [23]:
a = [{'Name': 'Ram', 'Ntc': 9867665654, 'Ncell': 9808556543}, 
     {'Name': 'Shyam', 'Ntc': 9876556543, 'Ncell': 9808556543}]
name = input("Enter name = ")
c = 0
for i in a:
    if i['Name'] == name:
        c = c+1
        print(i)
if c == 0:
    print("Not found")

Enter name = Rama
Not found

In [25]:
a = {'Ram': {"NTC":9856556543,"NCELL":980844543},
     'Shyam': {"NTC":9856554543,"NCELL":9808556543}}
a['Ram']

{'NTC': 9856556543, 'NCELL': 980844543}

In [27]:
a = {1:{'Name':'Ram',"NTC":9856556543,"NCELL":980844543},
     2:{'Name':'Ram',"NTC":9856554543,"NCELL":9808556543}}
a[1]

{'Name': 'Ram', 'NTC': 9856556543, 'NCELL': 980844543}

In [28]:
a = {1:{'Name':'Ram',"NTC":9856556543,"NCELL":980844543},
     2:{'Name':'Ram',"NTC":9856554543,"NCELL":9808556543}}
a[1]['Name']

'Ram'

In [29]:
a = {1:{'Name':'Ram',"NTC":9856556543,"NCELL":980844543},
     2:{'Name':'Ram',"NTC":9856554543,"NCELL":9808556543}}
a[1]['Name'] = 'Rama'
a

{1: {'Name': 'Rama', 'NTC': 9856556543, 'NCELL': 980844543},
 2: {'Name': 'Ram', 'NTC': 9856554543, 'NCELL': 9808556543}}

In [30]:
a = {1:{'Name':'Ram',"NTC":9856556543,"NCELL":980844543},
     2:{'Name':'Ram',"NTC":9856554543,"NCELL":9808556543}}
del a[1]
a

{2: {'Name': 'Ram', 'NTC': 9856554543, 'NCELL': 9808556543}}

In [31]:
a = {1:{'Name':'Ram',"NTC":9856556543,"NCELL":980844543},
     2:{'Name':'Shyam',"NTC":9856554543,"NCELL":9808556543}}

a[3] = {'Name':'Hari',"NTC":9856556544,"NCELL":980844143}
a

{1: {'Name': 'Ram', 'NTC': 9856556543, 'NCELL': 980844543},
 2: {'Name': 'Shyam', 'NTC': 9856554543, 'NCELL': 9808556543},
 3: {'Name': 'Hari', 'NTC': 9856556544, 'NCELL': 980844143}}

In [32]:
for i in a.items():
    print(i)

(1, {'Name': 'Ram', 'NTC': 9856556543, 'NCELL': 980844543})
(2, {'Name': 'Shyam', 'NTC': 9856554543, 'NCELL': 9808556543})
(3, {'Name': 'Hari', 'NTC': 9856556544, 'NCELL': 980844143})

In [33]:
for i in a.values():
    print(i)

{'Name': 'Ram', 'NTC': 9856556543, 'NCELL': 980844543}
{'Name': 'Shyam', 'NTC': 9856554543, 'NCELL': 9808556543}
{'Name': 'Hari', 'NTC': 9856556544, 'NCELL': 980844143}

In [34]:
l = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no ="))
    d={'Name':name,'Ntc':ntc,'Ncell':ncell}
    l[i] = d
    
print(l)

Enter n = 2
Enter name = Ram
Enter ntc no = 98789798
Enter ncell no =98798797
Enter name = Shyam
Enter ntc no = 989897897
Enter ncell no =9988978978
{1: {'Name': 'Ram', 'Ntc': 98789798, 'Ncell': 98798797}, 2: {'Name': 'Shyam', 'Ntc': 989897897, 'Ncell': 9988978978}}