In [1]:
# f = open('<file_name>','<mode>')

In [2]:
f = open('data.txt','x')
f.close()

In [3]:
f = open('data.txt','r')
print(f.read())
f.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [4]:
f = open('data.txt','r')
print(f.readline())
f.close()

1.Hello World

In [5]:
f = open('data.txt','r')
print(f.readline(10))
f.close()

1.Hello Wo

In [6]:
f = open('data.txt','r')
f.readline()
print(f.readline())
f.close()

2.Hello World

In [8]:
f = open('data.txt','r')
n = int(input("Enter n = "))
total_line = 7
for i in range(1,total_line+1):
    if i!= n:
        f.readline()
    else:
        print(f.readline())

        
f.close()

Enter n = 3
3.Hello World

In [10]:
f = open('data.txt','r')
b = f.read()
print(b)
print(type(b))
f.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
<class 'str'>

In [11]:
b.split('\n')

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World']

In [14]:
f = open('bill.txt','a')
n = int(input("Entre n = "))
data = str()
grand_total = 0
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total  = price*quantity

    info = f"{name} {price} {quantity} {total}\n"
    data = data+info
    grand_total = grand_total+total
print(data)


f.write(data)
f.close()

Entre n = 2
Enter name = Coke
Enter price = 200
Enter quantity = 2
Enter name = Fanta
Enter price = 1
Enter quantity = 200
Coke 200 2 400
Fanta 1 200 200

In [16]:
f = open('bill.csv','w')
f.write('Name,Price,Quantity,Total\n')
n = int(input("Entre n = "))
data = str()
grand_total = 0
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total  = price*quantity

    info = f"{name},{price},{quantity},{total}\n"
    data = data+info
    grand_total = grand_total+total
print(data)


f.write(data)
f.close()

Entre n = 2
Enter name = Apple
Enter price = 100
Enter quantity = 3
Enter name = Banana
Enter price = 3
Enter quantity = 250
Apple,100,3,300
Banana,3,250,750

In [17]:
b = open('bill.csv')
print(b.read())

Name,Price,Quantity,Total
Apple,100,3,300
Banana,3,250,750

In [18]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    100         3    300
1  Banana      3       250    750

In [19]:
import os
os.remove('bill.txt')

In [20]:
import os
os.remove('../Desktop/download.png')

In [21]:
import shutil as s

dst= 'Untitled Folder'
src = 'data.txt'
s.copy(src,dst)

'Untitled Folder\\data.txt'

In [22]:
import shutil
shutil.copytree('Untitled Folder', 'Untitled Folder1')

'Untitled Folder1'