In [1]:
# Python data Collection
# list
# tuple
# dictionaty
# set

In [2]:
# list
a = list()
b = []
c = ["Apple","Ball","Cat","Dog","Fish"]

In [3]:
# List
# -Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0])
print(a[-1])

Apple
Fish

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:3])
print(a[-1::-1])

['Apple', 'Ball', 'Cat']
['Fish', 'Dog', 'Cat', 'Ball', 'Apple']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0::2])

['Apple', 'Cat', 'Fish']

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Goat"]
print(b+a)

['Goat', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [14]:
a = [1,1,2,2,3,3,4,4,5,5]
print(a)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [16]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for i in range(l):
    print(a[i])

Apple
Ball
Cat
Dog
Fish

In [17]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
for i in a:
    if i == "Dog":
        break
    print(i)

Apple
Ball
Cat

In [19]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
for i in a:
    if i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish
Ball
Ball

In [24]:
a = "Ram,Shyam,Hari,SIta,Gita,Ram"
a.split(',')

['Ram', 'Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [25]:
a = "Coke 100 3 300\nFanta 200 3 600"
print(a.split('\n'))

['Coke 100 3 300', 'Fanta 200 3 600']

In [26]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [27]:
l = len(a)
l*2

8

In [30]:
a = "Ram,Shyam,Hari,SIta,Gita,Ram"
b = a.split(',')
b[0] = "Ram Prasad"
print(b)

['Ram Prasad', 'Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [32]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Dog', 'Fish', 'Ball', 'Ball']

In [34]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    info = info +[name]
    
print(info)

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Nita
Enter name = Gita
['Ram', 'Shyam', 'Hari', 'Nita', 'Gita']

In [35]:
a = ["Apple",2,5.4,"Banana"]

'A'

In [4]:
a = [3,45,67,768,243,76876,978,234]
print(sum(a))
print(max(a))
print(min(a))
a.sort()
print(a)
a.reverse()
print(a)

79214
76876
3
[3, 45, 67, 234, 243, 768, 978, 76876]
[76876, 978, 768, 243, 234, 67, 45, 3]

In [8]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2"]
a.sort()
print(a)

['.food', '1Rose', '2', 'Apple', 'Xray', 'Zebra', 'ball']

In [9]:
# sorted()
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2"]
print(sorted(a))
print(a)

['.food', '1Rose', '2', 'Apple', 'Xray', 'Zebra', 'ball']
['Apple', 'Zebra', 'ball', 'Xray', '1Rose', '.food', '2']

In [10]:
#append() insert()
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2"]
a.append("Fish")
print(a)

['Apple', 'Zebra', 'ball', 'Xray', '1Rose', '.food', '2', 'Fish']

In [11]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2"]
a.insert(3,"Fish")
print(a)

['Apple', 'Zebra', 'ball', 'Fish', 'Xray', '1Rose', '.food', '2']

In [12]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    info.append(name)
    
print(info)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [13]:
a = [1,22,3,4,5,6,3,4]
l = len(a)
print(l)

8

In [16]:
a = [1,22,3,4,5,6,3,4,4,4]
l = a.count(4)
print(l)

4

In [19]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2"]
print(a.index("ball"))

2

In [21]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2","ball"]
l = len(a)
for i in range(l):
    if a[i] == "ball":
        print(i)

2
7

In [25]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2","ball"]
a[2] = "Ball"
a[-1] = "Ball"
print(a)

['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']

In [28]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2","ball"]
l = len(a)
x = input("Enter x = ")
y = input("Enter y = ")
for i in range(l):
    if a[i] == x:
        a[i] = y
        
print(a)

Enter x = ball
Enter y = Ball
['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']

In [30]:
#del remove() pop()
a = ['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']
i = int(input("Enter index = "))
del a[i]
print(a)

Enter index = 3
['Apple', 'Zebra', 'Ball', '1Rose', '.food', '2', 'Ball']

In [32]:
a = ['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']
del a[0:3]
print(a)

['Xray', '1Rose', '.food', '2', 'Ball']

In [33]:
a = ['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']
a.remove("Ball")
print(a)

['Apple', 'Zebra', 'Xray', '1Rose', '.food', '2', 'Ball']

In [35]:
a = ['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']
a.pop()
print(a)

['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2']

In [37]:
a = ['Apple', 'Zebra', 'Ball', 'Xray', '1Rose', '.food', '2', 'Ball']
b = a.pop(3)
print(a)
print(b)

['Apple', 'Zebra', 'Ball', '1Rose', '.food', '2', 'Ball']
Xray

In [41]:
a = ['Apple', 'Zebra', 'Ball', 'Xray', 'Ball', '.food', '2', 'Ball']
l = a.count("Ball")
for i in range(l):
    a.remove("Ball")
    
    print(a)

['Apple', 'Zebra', 'Xray', 'Ball', '.food', '2', 'Ball']
['Apple', 'Zebra', 'Xray', '.food', '2', 'Ball']
['Apple', 'Zebra', 'Xray', '.food', '2']

In [42]:
b = []
a = ['Apple', 'Zebra', 'Ball', 'Xray', 'Ball', '.food', '2', 'Ball']
for i in range(len(a)):
    if a[i] == "Ball":
        continue
    b.append(a[i])
print(b)

['Apple', 'Zebra', 'Xray', '.food', '2']

In [44]:
b = []
a = ['Apple', 'Zebra', 'Ball', 'Xray', 'ball', '.food', '2', 'Ball']
for i in a:
    x = i.lower()
    b.append(x)
    
print(b)

['apple', 'zebra', 'ball', 'xray', 'ball', '.food', '2', 'ball']

In [47]:
b = 0
index = []
c = input("Enter c = ")
a = ['Apple', 'Zebra', 'Ball', 'Xray', 'ball', '.food', '2', 'Ball']
for i in a:
    x = i.lower()
    if x == c.lower():
        b = b+1
        index.append(i)
    
print(b)
print(index)

Enter c = ball
3
['Ball', 'ball', 'Ball']

In [48]:
b = 0
index = []
c = input("Enter c = ")
a = ['Apple', 'Zebra', 'Ball', 'Xray', 'ball', '.food', '2', 'Ball']
for i in range(len(a)):
    x = a[i].lower()
    if x == c.lower():
        b = b+1
        index.append(i)
    
print(b)
print(index)

Enter c = ball
3
[2, 4, 7]

In [2]:
# list inside list
d = [[1,2,3],[4,5,6],[7,8,9]]
print(len(d))

3

In [4]:
d[0][0]

1

In [6]:
d[0:2]

[[1, 2, 3], [4, 5, 6]]

In [7]:
a = [[1,2,3],[4,5,6]]
b = [[7,8,9]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
a = [[1,2,3],[4,5,6]]
b = [7,8,9]
print(a+b)

[[1, 2, 3], [4, 5, 6], 7, 8, 9]

In [8]:
a = [[1,2,3],[4,5,6]]
print(a*3)

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [11]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Patan
[['Ram', 45, 'Kathmandu'], ['Shyam', 45, 'Patan']]

In [12]:
index = int(input("Enter index = "))
print(info[index])

Enter index = 0
['Ram', 45, 'Kathmandu']

In [7]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
for i in a:
    print(i)

['Ram', 45, 'Kathmandu']
['Shyam', 45, 'Patan']
['Hari', 34, 'Kathmandu']

In [8]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']

In [ ]:
a = [[1,2,3],[0,5,6]]

In [17]:
bill = []
net_price = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    data = [name,price,qty,total]
    bill.append(data)
    net_price = net_price+total
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 100
Enter qty = 3
Enter name = Ball
Enter price = 29
Enter qty = 4
[['Apple', 100, 3, 300], ['Ball', 29, 4, 116]]

In [18]:
print(net_price)

416

In [10]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
a[0] = ["Rama",12,"Patan"]
print(a)

[['Rama', 12, 'Patan'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [22]:
a = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
a[0][0] = "Nabin"
print(a)

[['Nabin', 45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [11]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
del a[0][0]
a

[[45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [13]:
a[0].insert(0,"Ram")
a

[['Ram', 45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [14]:
a = [[45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]
a[0].append("Ram")
a

[[45, 'Kathmandu', 'Ram'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [15]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
a[0][0] = ""
a

[['', 45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [16]:
n = int(input("Entre n = "))
data = str()
grand_total = 0
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total  = price*quantity

    info = f"{name} {price} {quantity} {total}\n"
    data = data+info
    grand_total = grand_total+total
print(data)

Entre n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 2
Enter name = Coke
Enter price = 2
Enter quantity = 50
Apple 200 2 400
Coke 2 50 100

In [24]:
output = []
l= data.split('\n')[:-1]
for i in l:
    x = i.split()
    output.append(x)
    
print(output)

[['Apple', '200', '2', '400'], ['Coke', '2', '50', '100']]

In [26]:
l= data.split('\n')
l

['Apple 200 2 400', 'Coke 2 50 100', '']

In [27]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
for i in a:
    if "Ram" in i:
        continue
    print(i)

['Shyam', 45, 'Patan']
['Hari', 34, 'Kathmandu']

In [31]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu']]
l = len(a)
for i in range(l):
    if a[i][0] == "Ram":
        continue
    print(a[i])

['Shyam', 45, 'Patan']
['Hari', 34, 'Kathmandu']

In [32]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu'],
    ['Hari',34,'Kathmandu']]

a.count(['Hari',34,'Kathmandu'])

2

In [34]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu'],
    ['Hari',34,'Kathmandu']]
a.remove(a[3])
a

[['Ram', 45, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Hari', 34, 'Kathmandu']]

In [36]:
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu'],
    ['Hari',34,'Kathmandu']]

x = ['Hari',34,'Kathmandu']
a.count(x)
for i in a:
    if i == x:
        a.remove(i)
print(i)

['Hari', 34, 'Kathmandu']

In [43]:
b = []
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 45, 'Patan'],
     ['Hari',34,'Kathmandu'],
    ['Hari',34,'Kathmandu']]

x = ['Hari',34,'Kathmandu']
n = len(a)
for i in range(n):
    if a[i] != x:
        b.append(a[i])
print(b)

[['Ram', 45, 'Kathmandu'], ['Shyam', 45, 'Patan']]