In [13]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class12pm"
)
db = database.cursor()

In [14]:
# Selecting data from database
db.execute("SELECT * FROM account")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 986744567, 'yes', datetime.datetime(2021, 7, 4, 0, 0))
(2, 'Shyam', 986744567, 'yes', datetime.datetime(2021, 7, 4, 12, 41, 14))
(3, 'hari', 9867445, 'yes', datetime.datetime(2021, 7, 4, 12, 43, 9))
(4, 'Nabin', 986766565, 'no', datetime.datetime(2021, 7, 4, 12, 43, 9))

In [15]:
db.execute("SELECT id,name,phone FROM account")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 986744567)
(2, 'Shyam', 986744567)
(3, 'hari', 9867445)
(4, 'Nabin', 986766565)

In [22]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "chinese"
)
db = database.cursor()
category = input("Enter cat = ")
db.execute(f"SELECT * FROM food WHERE cat = '{category}'")
result =db.fetchall()
for x in result:
    print(x)

Enter cat = Nepali
(19, 'French Fries', 'Nepali', 150, '', 'Veg Snacks')
(20, 'Chips Chilli', 'Nepali', 180, '', 'Veg Snacks')
(21, 'Chicken Chilli', 'Nepali', 300, '', 'Non Veg Snacks')
(22, 'Buff Chilli', 'Nepali', 300, '', 'Non Veg Snacks')
(23, 'Mushroom Chilli', 'Nepali', 280, '', 'Veg Snacks')
(24, 'Chicken Wings', 'Nepali', 350, '', 'Non Veg Snacks')
(25, 'Chicken Drumsticks', 'Nepali', 350, '', 'Non Veg Snacks')
(26, 'Aloo Dum', 'Nepali', 150, '', 'Veg Snacks')
(27, 'Hot Garlic Potato', 'Nepali', 200, '', 'Non Veg Snacks')
(28, 'Vegetable Pakoda', 'Nepali', 200, '', 'Veg Snacks')
(29, 'Paneer Pakoda', 'Nepali', 300, '', 'Veg Snacks')
(30, 'Veg. Thakali', 'Nepali', 200, '', 'Nepali Khana')
(31, 'Chicken Thakali', 'Nepali', 250, '', 'Nepali Khana')
(32, 'Buff Thakali', 'Nepali', 280, '', 'Nepali Khana')
(33, 'Pork Thakali', 'Nepali', 280, '', 'Nepali Khana')
(49, 'Veg. Fried Rice', 'Nepali', 140, '', 'Rice')
(50, 'Chicken Fried Rice', 'Nepali', 160, '', 'Rice')
(51, 'Buff Fried Rice', 'Nepali', 170, '', 'Rice')
(52, 'Pork Fried Rice', 'Nepali', 200, '', 'Rice')
(53, 'Egg Fried Rice', 'Nepali', 160, '', 'Rice')
(54, 'Mix Fried Rice', 'Nepali', 190, '', 'Rice')
(55, 'Veg. Chowmein', 'Nepali', 140, '', 'Noodels')
(56, 'Buff Chowmein', 'Nepali', 170, '', 'Noodels')
(57, 'Egg Chowmein', 'Nepali', 160, '', 'Noodels')
(58, 'Chicken Chowmein', 'Nepali', 200, '', 'Noodels')
(59, 'Pork Chowmein', 'Nepali', 170, '', 'Noodels')
(60, 'Mix Chowmein', 'Nepali', 190, '', 'Noodels')
(61, 'Veg. Thukpa', 'Nepali', 140, '', 'Thukpa')
(62, 'Non Veg. Thukpa', 'Nepali', 170, '', 'Thukpa')
(63, 'Veg. Momo', 'Nepali', 150, '', 'MoMo')
(64, 'Buff MoMo', 'Nepali', 170, '', 'MoMo')
(65, 'Chicken MoMo', 'Nepali', 170, '', 'MoMo')
(66, 'Veg. Soup MoMo', 'Nepali', 150, '', 'Special Soup MoMo')
(67, 'Buff Soup MoMo', 'Nepali', 170, '', 'Special Soup MoMo')
(68, 'Chicken Soup MoMo', 'Nepali', 170, '', 'Special Soup MoMo')

In [23]:
price = int(input("Enter price = "))
sql = f"SELECT name,price FROM food WHERE price <{price} "
print(sql)
db.execute(sql)
result =db.fetchall()
for x in result:
    print(x)

Enter price = 200
SELECT name,price FROM food WHERE price <200
('Veg .Sandwich', 150)
('Non Veg .Sandwich', 150)
('French Fries', 150)
('Chips Chilli', 180)
('Aloo Dum', 150)
('Veg. Sandwich', 150)
('Chicken Sandwich', 180)
('Veg. Burger', 150)
('Chicken Burger', 180)
('Ham Burger', 190)
('Veg. Fried Rice', 140)
('Chicken Fried Rice', 160)
('Buff Fried Rice', 170)
('Egg Fried Rice', 160)
('Mix Fried Rice', 190)
('Veg. Chowmein', 140)
('Buff Chowmein', 170)
('Egg Chowmein', 160)
('Pork Chowmein', 170)
('Mix Chowmein', 190)
('Veg. Thukpa', 140)
('Non Veg. Thukpa', 170)
('Veg. Momo', 150)
('Buff MoMo', 170)
('Chicken MoMo', 170)
('Veg. Soup MoMo', 150)
('Buff Soup MoMo', 170)
('Chicken Soup MoMo', 170)
('Plain Rice', 50)
('Veg. Curry', 150)
('Plain Dal Curry', 100)
('Fried Dal Curry', 140)
('Alu Mattar', 160)
('Tawa Roti', 25)
('Plain Paratha', 40)
('Alu Paratha', 60)
('Momo', 100)
('Momo', 100)
('Momo', 100)

In [25]:
food = input("Enter food name = ")
sql = f"SELECT name,price FROM food WHERE name LIKE '%{food}%' "
print(sql)
db.execute(sql)
result =db.fetchall()
for x in result:
    print(x)

Enter food name = buff
SELECT name,price FROM food WHERE name LIKE '%buff%'
('Buff Chilli', 300)
('Buff Thakali', 280)
('Buff Fried Rice', 170)
('Buff Chowmein', 170)
('Buff MoMo', 170)
('Buff Soup MoMo', 170)
('Buff Sizzler', 450)
('Buff Curry', 220)

In [5]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class12pm"
)
db = database.cursor()

name = input("Enter name = ")
phone = int(input("Enter phone = "))
payment = input("Enter yes or no = ")
total = int(input("Enter total = "))

sql = f"INSERT INTO account(name,phone,payment,total) VALUES('{name}',{phone},'{payment}',{total})"
db.execute(sql)
database.commit()

Enter name = Nabin
Enter phone = 9856556543
Enter yes or no = yes
Enter total = 1000

In [7]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class12pm"
)
db = database.cursor()

ids = int(input("Enter id = "))
phone = int(input("Enter phone = "))
name = input("Enter name = ")

sql = f"UPDATE account SET phone = {phone} , name = '{name}' WHERE id = {ids}"
db.execute(sql)
database.commit()

Enter id = 5
Enter phone = 9800000
Enter name = Nabina

In [10]:
ids = int(input("Enter id = "))


sql = f"DELETE FROM account WHERE id = {ids}"
print(sql)
db.execute(sql)
database.commit()

Enter id = 5
DELETE FROM account WHERE id = 5

In [12]:
import time
time.datetime.now()

AttributeError: module 'time' has no attribute 'datetime'