In [1]:
a = "Hello World"
print(a)

Hello World

In [3]:
a = '10'
print(a)
print(type(a))

10
<class 'str'>

In [4]:
a = input("Enter a = ")
print(type(a))
print(a)

Enter a = 10
<class 'str'>
10

In [5]:
a = int(input("Enter a = "))
print(a)

Enter a = 12323
12323

In [1]:
a ="Hello World I am Python"
print(a[6])

W

In [7]:
a ="Hello World I am Python"
print(a[0:5])

Hello

In [9]:
a ="Hello World I am Python"
print(a[5:11])

 World

In [10]:
a ="Hello World I am Python"
print(a[0:25:2])

HloWrdIa yhn

In [16]:
a ="Hello World I am Python"
b = a[0:5]
c = a[17:]
print(b+c)

HelloPython

In [19]:
a = "Python"
a[5::-1]

'nohtyP'

In [20]:
a ="Hello World I am Python"
l = len(a)
a[l::-1]

'nohtyP ma I dlroW olleH'

In [21]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World I am " + name + " I am from "+add +" I am "+str(age)
print(info)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Hello World I am Ram I am from Kathmandu I am 34

In [22]:
a = "Ram"
b = 10
c = f"Hello World I am {a} I am {b}"
print(c)

Hello World I am Ram I am 10

In [2]:
n = int(input("Entre n = "))
data = str()
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")

    info = f"{name} {age} {add}\n"
    data = data+info
print(data)

Entre n = 2
Enter name = Ram
Enter age = 23
Enter address = Kathmandu
Enter name = Shyam
Enter age = 34
Enter address = Bara
Ram 23 Kathmandu
Shyam 34 Bara

In [4]:
n = int(input("Entre n = "))
data = str()
grand_total = 0
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total  = price*quantity

    info = f"{name} {price} {quantity} {total}\n"
    data = data+info
    grand_total = grand_total+total
print(data)

Entre n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 3
Enter name = Fanta
Enter price = 200
Enter quantity = 3
Coke 100 3 300
Fanta 200 3 600

In [5]:
grand_total

900

In [32]:
print(data)

Coke 100 3 300
Fanta 200 3 600

In [35]:
bills = data.split('\n')
bills

['Coke 100 3 300', 'Fanta 200 3 600', '']

In [37]:
bills[1]

'Fanta 200 3 600'

In [11]:
a = "Ram Shyam Hari SIta Gita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes")
    c = a.count(name)
    print(c)
else:
    print("No")

Enter name = RaM
No

In [13]:
a = "Ram Shyam Hari SIta Gita Ram"
print(a.upper())

RAM SHYAM HARI SITA GITA RAM

In [15]:
a = "Ram Shyam Hari SIta Gita Ram"
print(a.lower())
b = "RAm"
print(b.lower())

ram shyam hari sita gita ram
ram

In [16]:
a = "Ram Shyam Hari SIta Gita Ram"
b = a.lower()
name = input("Enter name = ")
nl = name.lower()
if nl in b:
    print("Yes")
    c = b.count(nl)
    print(c)
else:
    print("No")

Enter name = RAm
Yes
2

In [17]:
a = "Ram Shyam Hari SIta Gita Ram"
a.replace("Ram","DhanaShyam")

'DhanaShyam Shyam Hari SIta Gita DhanaShyam'

In [4]:
a = "Ram Shyam Hari SIta Gita Ram "
a.replace("Ram S","DhanaShyam S")

'DhanaShyam Shyam Hari SIta Gita Ram '

In [23]:
a = "Ram Shyam Hari SIta Gita Ram"
b = a[0:3]
c = a[4:]
d = "GhanaShyam "
print(d+c)

GhanaShyam Shyam Hari SIta Gita Ram

In [26]:
a = "Ram Shyam Hari SIta Gita Ram"
b = a.split()
b

['Ram', 'Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [27]:
del b[0]

In [28]:
b

['Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [30]:
a = "Ram Shyam Hari SIta Gita Ram"
a.replace("Ram","")

' Shyam Hari SIta Gita '

In [31]:
print(a)

Ram Shyam Hari SIta Gita Ram