In [1]:
# Tuple
# -Indexing
# -Duplicate members
# -Ordered
# -Imutable

In [2]:
a = (1,2,3,4)
b = ("Apple","Ball","Cat")
print(a)
print(b)
type(a)

(1, 2, 3, 4)
('Apple', 'Ball', 'Cat')

tuple

In [4]:
a = ("Apple",)
type(a)

tuple

In [8]:
b = ("Apple","Ball","Cat")
print(b[0])
print(b[0:2])
print(b[0:3:2])

Apple
('Apple', 'Ball')
('Apple', 'Cat')

In [9]:
b = ("Apple","Ball","Cat")
print(b*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [11]:
b = ("Apple","Ball","Cat",)
c = ("Dog",)
d = b+c
print(d)

('Apple', 'Ball', 'Cat', 'Dog')

In [13]:
t = tuple()
n = int(input("Enter "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter 3
Enter x = dsdas
Enter x = asdasd
Enter x = qweqw
('dsdas', 'asdasd', 'qweqw')

In [14]:
a = ("Apple","Ball","Cat","Dog","Fish","Ball","Ball")
for i in a:
    if i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish
Ball
Ball

In [15]:
t = tuple()
n = int(input("Enter "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter 3
Enter x = apple
Enter x = Ball
Enter x = CAt
('apple', 'Ball', 'CAt')

In [16]:
sorted(t)

['Ball', 'CAt', 'apple']

In [17]:
t = tuple()
n = int(input("Enter "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter 5
Enter x = 23
Enter x = 345
Enter x = 23
Enter x = 34
Enter x = 23
(23, 345, 23, 34, 23)

In [19]:
print(max(t))
print(min(t))
print(sum(t))

345
23
448

In [20]:
a = (23, 345, 23, 34, 23)
len(a)

5

In [21]:
a = ("Apple","Zebra","ball","Xray","1Rose",".food","2","ball")
l = len(a)
for i in range(l):
    if a[i] == "ball":
        print(i)

2
7

In [23]:
a = ("Apple","Zebra","ball","Xray","1Rose",".food","2","ball")
b = a[0:3]
c = a[4:]
d = b+c
print(d)

('Apple', 'Zebra', 'ball', '1Rose', '.food', '2', 'ball')

In [24]:
a = ("Apple","Zebra","ball","Xray","1Rose",".food","2","ball")
b = a[0:3]
c = a[4:]
f = ("xray",)
d = b+f+c
print(d)

('Apple', 'Zebra', 'ball', 'xray', '1Rose', '.food', '2', 'ball')

In [27]:
a = ("Apple","Zebra","ball","Xray","1Rose",".food","2","ball")
b = list(a)
b.remove("Xray")
a = tuple(b)
print(a)

('Apple', 'Zebra', 'ball', '1Rose', '.food', '2', 'ball')

In [28]:
a = "Apple"
list(a)

['A', 'p', 'p', 'l', 'e']

In [29]:
a = "Apple"
tuple(a)

('A', 'p', 'p', 'l', 'e')

In [30]:
a = "Apple"
b = tuple(a)
c = str(b)
c

"('A', 'p', 'p', 'l', 'e')"

In [31]:
# tuple inside tuple
# tuple inside list
# list inside tuple

In [32]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(len(a))

3

In [33]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = ((name,age,add),)
    info = info+data
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 23
Enter address = Kathmandu
Enter name = Shyam
Enter age = 34
Enter address = Patan
(('Ram', 23, 'Kathmandu'), ('Shyam', 34, 'Patan'))

In [34]:
# tuple inside list
a = (('Ram', 23, 'Kathmandu'), ('Shyam', 34, 'Patan'))
b = list(a)
b

[('Ram', 23, 'Kathmandu'), ('Shyam', 34, 'Patan')]

In [35]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = (name,age,add)
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Bara
[('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Bara')]

In [36]:
a = [('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Bara')]
del a[0]
a

[('Shyam', 45, 'Bara')]

In [40]:
a = [('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Bara')]
a[0] = ('Rama', 34, 'Kathmandu')
a

[('Rama', 34, 'Kathmandu'), ('Shyam', 45, 'Bara')]

In [43]:
a = [('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Bara')]
del a[0][0]

TypeError: 'tuple' object doesn't support item deletion

In [44]:
# list inside tuple
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])
a

(['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])

In [45]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = [name,age,add]
    info = info+(data,)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Bara
(['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])

In [47]:
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])
a[0]

['Ram', 34, 'Kathmandu']

In [48]:
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])
del a[0]
a

TypeError: 'tuple' object doesn't support item deletion

In [49]:
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])
del a[0][0]
a

([34, 'Kathmandu'], ['Shyam', 45, 'Bara'])

In [50]:
a = (['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])
a[0][0] = "Rama"
a

(['Rama', 34, 'Kathmandu'], ['Shyam', 45, 'Bara'])

In [ ]:
a = ((1,2,3),(4,5,6),(7,8,9))