In [1]:
# Python data Collection
# list
# tuple
# dictionaty
# set

In [2]:
# list
a = list()
b = []
c = ["Apple","Ball","Cat","Dog","Fish"]

In [3]:
# List
# -Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0])
print(a[-1])

Apple
Fish

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:3])
print(a[-1::-1])

['Apple', 'Ball', 'Cat']
['Fish', 'Dog', 'Cat', 'Ball', 'Apple']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0::2])

['Apple', 'Cat', 'Fish']

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Goat"]
print(b+a)

['Goat', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [14]:
a = [1,1,2,2,3,3,4,4,5,5]
print(a)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [16]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for i in range(l):
    print(a[i])

Apple
Ball
Cat
Dog
Fish

In [17]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
for i in a:
    if i == "Dog":
        break
    print(i)

Apple
Ball
Cat

In [19]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
for i in a:
    if i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish
Ball
Ball

In [24]:
a = "Ram,Shyam,Hari,SIta,Gita,Ram"
a.split(',')

['Ram', 'Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [25]:
a = "Coke 100 3 300\nFanta 200 3 600"
print(a.split('\n'))

['Coke 100 3 300', 'Fanta 200 3 600']

In [26]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [27]:
l = len(a)
l*2

8

In [30]:
a = "Ram,Shyam,Hari,SIta,Gita,Ram"
b = a.split(',')
b[0] = "Ram Prasad"
print(b)

['Ram Prasad', 'Shyam', 'Hari', 'SIta', 'Gita', 'Ram']

In [32]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Dog', 'Fish', 'Ball', 'Ball']

In [34]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    info = info +[name]
    
print(info)

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Nita
Enter name = Gita
['Ram', 'Shyam', 'Hari', 'Nita', 'Gita']

In [35]:
a = ["Apple",2,5.4,"Banana"]

'A'

In [ ]:
a = [3,45,67,768,243,76876,978,234]
print(sum(a))
p